<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Tony's Pizza</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
</head>

<body ng-controller="appCnt">
	<input type="number" ng-model="v1"><br/>
	<input type="number" ng-model="v2"><br/>
	<input type="button" ng-click="add()" value="Add"><br/>
	<input type="button" ng-click="sub()" value="Sub"><br/>
	<input type="button" ng-click="mul()" value="Mul"><br/>
	<input type="button" ng-click="div()" value="Div"><br/>
    <h2>{{Name}}</h2>
	<input type="number" ng-model="Res">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-resource.min.js"></script>
    <script src="app/Factory1.js"></script>
    <script src="app/app.js"></script>
    <script src="app/Service1.js"></script>
	
</body>

</html>